@using Madera.Service;
@using MaderaSoft.Models.DTO;
@using MaderaSoft.Areas.Simulateur.Models.ViewModels;
@model PlanViewModel

<section id="test" class="content">
    <div class="row">
        <div class="col-lg-12">
            <h2>Plan maison modulaire</h2>
            <div id="gauche">
                <label>Largueur</label><input id="larg" type="text" />
                <label>Longueur</label><input id="long" type="text" />
                <button id="button_svg">Générer</button>
                @Html.actionButton("Sauvegarder votre plan", Parametres.TypeBouton.Creation, Url.Action("SavePlan", "Maison", new { area = "Simulateur" }).ToString(), "save_svg")
                <!-- <ul id="carousel" class="elastislide-list">-->
                @foreach (ModuleDTO module in Model.lesModules)
                {
                    // @Html.Raw(String.Format("<li><img class='module' id='{0}_svg' data-code='{1}' data-nom='{0}' data-color='#0000ff' src='' alt='{0}' /><button class='module' id='{0}_svg' data-code='{1}' data-nom='{0}' data-color='#0000ff'>{0}</button></li>", module.libe, module.id));
                    @Html.Raw(String.Format("<button class='module' id='{0}_svg' data-code='{1}' data-nom='{0}' data-color='#0000ff'>{0}</button>", module.libe, module.id));
                }
                <!-- </ul>-->
                <div id="dessin"></div>
            </div>
            <div id="droite">
                <div id="devis">
                    <h4>Devis</h4>
                    <hr />
                    <table id="recap"><tbody></tbody></table>
                    <hr />
                    <h4>Prix total</h4><p id="prixTot"></p>
                </div>
            </div>
        </div>
    </div>
</section>