@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Madera.Service;
@using MaderaSoft.Areas.Simulateur.Models.ViewModels;
@model IndexViewModel

<section>
    @Html.DropDownList("Choissiez votre plan: ", @Model.lesPlans, new {id = "ChargePlan" })
</section>

<section>
    @Html.Partial("~/Areas/Simulateur/Views/Maison/_AffichePlan.cshtml", Model.PlanViewModel)
</section>