@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="test" class="content">
    <div class="row">
        <div class="col-lg-12">
            <h2>TEST SVG THOMAS (Temporaire)</h2>
            <label>Largueur</label><input id="larg" type="text" />
            <label>Longueur</label><input id="long" type="text" />
            <button id="button_svg">CLIQUE ICI !!!!!</button>
            <button id="porte_svg" data-pos="#00ff00">Porte</button>
            <button id="fenetre_svg" data-pos="#0000ff">Fenêtre</button>
            <div id="dessin"></div>
        </div>
    </div>
</section>