@using System.Web.Mvc.Html
@using MaderaSoft.Models
@model AdresseViewModel
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<a class="editModal btn btn-success fa fa-plus" href= @Url.Action("EditModal", "Adresse")> Ajouter une nouvelle adresse</a>

@{ Html.RenderPartial("~/Views/Shared/_BootstrapTable.cshtml", Model.tableauAdresses);}
