<li class="treeview">
    <a href="#">
        <i class="fa fa-link"></i> <span>Service commercial</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li>@Html.ActionLink("Gestion des devis", "Index", "Maison", new { area = "ServiceCommercial" }, null)</li>
    </ul>
</li>
