@using MaderaSoft.Models.ViewModel
@using Madera.Service
@model MaderaSoft.Models.ViewModel.BootstrapDeleteModalViewModel

@using (Html.BeginForm(Model.method,Model.urlController , FormMethod.Post,new { enctype = "multipart/form-data", @class = "form-inline" }))
{@Html.HiddenFor(m => m.idToDelete)

    <p>@Model.message</p>

    <div class="modal-footer">
        @Html.actionButton(" Annuler", Parametres.TypeBouton.DissmissModal)
        @Html.actionButton(" Valider", Parametres.TypeBouton.Submit)
    </div>

}