<li class="treeview">
    <a href="#">
        <i class="fa fa-link"></i> <span>Recherche & développement</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li>@Html.ActionLink("Gestion des modules", "Index", "Module", new { area = "RechercheDeveloppement" }, null)</li>
    </ul>
</li>
