<li class="treeview">
    <a href="#">
        <i class="fa fa-link"></i> <span>Ressources Humaines</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li>@Html.ActionLink("Gestion des employés", "Index", "Employe", new { area = "RessourcesHumaines" }, null)</li>
        <li>@Html.ActionLink("Définition des droits utilisateur", "Index","GestionDroit", new { area = "RessourcesHumaines"}, null)</li>
    </ul>
</li>
