 <!-- About Section -->
<section id="about" class="content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Depuis 1926 ...</h2>
            <p>Chaque jour, nous innovons pour vous apporter de nouvelles idées avec nos créations originales</p>
            <p>Avec nos 5 centres, nous sommes capables de vous construire la maison de vos rêves dans les 4 coins de la France.</p>
            <p>Notre Atout? La possibilité de créer la maison par vous-mêmes.</p>
        </div>
    </div>
</section>
<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-12">
                <h2>Votre maison</h2>
                <svg style="width: 930px;height: 500px;">
                    <rect x="100" y="140" width="200" height="200" style="fill:none;stroke:white;stroke-width:3px;"></rect>
                    <text x="150" y="200" fill="white">1ère étape :</text>
                    <text x="150" y="225" fill="white">Dessinez votre maison</text>

                    <line x1="305" x2="395" y1="250" y2="250" style="fill:none;stroke:white;stroke-width:4px;stroke-dasharray:4,5,8,5;" />

                    <rect x="400" y="140" width="200" height="200" style="fill:none;stroke:white;stroke-width:3px;"></rect>
                    <text x="450" y="200" fill="white">2ème étape :</text>
                    <text x="450" y="225" fill="white">Validez votre plan</text>

                    <line x1="605" x2="695" y1="250" y2="250" style="fill:none;stroke:white;stroke-width:4px;stroke-dasharray:4,5,8,5;" />

                    <rect x="700" y="140" width="200" height="200" style="fill:none;stroke:white;stroke-width:3px;"></rect>
                    <text x="750" y="200" fill="white">3ème étape : </text>
                    <text x="750" y="225" fill="white">Notre conseiller prendra contact avec vous</text>

                </svg>
                <a href="/Simulateur/Maison" class="btn btn-default btn-lg">Créez ma maison</a>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section id="contact" class="content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contactez-nous</h2>
            <p>N'hésitez pas à nous contacter, nos conseillers sont disponibles pour vous !</p>
            <p>
                <a href="mailto:contact@madera.com">contact@madera.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>


<!-- Map Section
<div id="map"></div> -->
